body {
    background-color: hsl(69, 50%, 30%);
}

h1 {
    color:hsl(69, 100%, 85%);
    text-align: center;
    margin: 70px 0px;
}

#calc {
    margin:auto;
    width: 400px;
    height: 600px;
    border-style: solid;
    border-color: hsl(69, 100%, 15%);
    border-radius: 10px;
    background-color: hsl(69, 100%, 85%);
}

button {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: hsl(69, 50%, 30%);
    color: hsl(69, 100%, 85%);
    cursor: pointer;
}

button:hover {
    background-color: hsl(69, 100%, 15%);
}


button:active {
    background-color:hsl(69, 100%, 15%);
    transform: translateY(1px);
  }

#display {
    margin: 25px auto;
    padding: 5px;
    width: 350px;
    height: 75px;
    background-color: white;
    border-style:outset;
    border-color: hsl(69, 100%, 30%);
    border-radius: 10px;
    line-height: 75px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

#buttonpad {
    position: relative;
    height: 420px;
    margin: 45px 25px 20px;
    background-color: hsl(69, 50%, 60%);
    border-radius: 10px;
}

#clearButton {    
    position: absolute;
    right: 0px;
    width: 95px;
    top: 0px;
    padding: 10px;
    background-color: hsl(31, 100%, 50%);
}


#numbersection {
    position: absolute;
    right: 100px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.number {
    margin: 1px;
    font-size: 20px;

}

#operatorsection {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    left: 250px;
    right: 0px;
    top: 43px;
    bottom: 105px ;
    clear: right;
}

.operator {
    margin: 5px 0px 5px 5px;
    font-size: 30px;
}

#equalButton {
    position:absolute;
    right: 0px;
    bottom: 0px;
    width: 95px;
    height: 105px;
    font-size: 30px;
}
